.Member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Member__slide {
    width: 320px;
    height: 320px;
}

.Member__img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

/* .black {
    width: 100%;
    height: 400px;
    background-color: black;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
} */