.Description {
    padding-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Description__container {
    /* width: 750px; */
    text-align: center;
}

.Description__title {
    font-size: 48px;
    margin-bottom: 50px;
}

.Description__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.Description__addText {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
}

@media (max-width: 1110px)
{
  .Description{
    justify-content: center;
    flex-direction: column;
  }

  .Description__addText {
    position: relative;
    font-size: 18px;
    }
}

@media (max-width: 760px)
{
    .Description__title {
        font-size: 30px;
        margin-bottom: 50px;
    }
    
    .Description__text {
        font-size: 18px;
        margin-bottom: 100px;
    }
}